html {
  --primary-1: #ffcc4a;
  --primary-2: #4eaf4e;
  --primary-3: #181818;
  --secondary-1: #f5f5f5;
  --secondary-2: #fff;
}

body {
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Cabin', sans-serif;
  color: var(--primary-3);
}

/* common CSS */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.pill {
  display: inline-block;
  font-family: 'Lato' sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2.32px;
  text-transform: uppercase;
  background-color: var(--primary-1);
  padding: 0 15px;
  border-radius: 20px;
}

.section {
  padding-top: 170px;
  padding-bottom: 170px;
}

.section-title {
  text-align: center;
  max-width: 781px;
  font-size: 45px;
  line-height: 116%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 38px;
}

/* Hero */

.hero {
  background: url('/img/hero-bg.jpg') no-repeat center center;
  background-size: cover;
}

h1 {
  font-size: 50px;
  line-height: 116%;
}

.hero .container {
  min-height: 620px;
  display: flex;
  align-items: center;
}
.hero .text-block {
  max-width: 788px;
  border-radius: 29px;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(5.5px);
  padding: 48px 60px 58px 60px;
}

.text-block .pill {
  margin-bottom: 21px;
}

/* Services ----------------------------------- */
.services .container {
  text-align: center;
}
.services .pill {
  background-color: var(--primary-2);
}

.services-cards-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.services-card-title {
  margin-bottom: 10px;
  font-size: 25px;
}

.services-card {
  flex: 1 1 30%;
  text-align: left;
  border-radius: 20px;
  background-color: #ebebeb;
  padding: 49px 47px;
}

.services-card img {
  width: 84px;
  margin-bottom: 25px;
}

.services-card .text {
  color: #595566;
  font-family: 'Lato' sans-serif;
  line-height: 147.5%; /* 23.6px */
}
