html {
  --primary-1: #ffcc4a;
  --primary-2: #4eaf4e;
  --primary-3: #181818;
  --secondary-1: #f5f5f5;
  --secondary-2: #fff;
}

body {
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Cabin', sans-serif;
  color: var(--primary-3);
}

/* common CSS */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Hero */

.hero {
  background: url('/img/hero-bg.jpg') no-repeat center center;
  background-size: cover;
}

.hero .container {
  min-height: 620px;
  display: flex;
  align-items: center;
}
.hero .text-block {
  border-radius: 29px;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(5.5px);
  padding: 48px 60px 58px 60px;
}
