html {
  --primary-1: #ffcc4a;
  --primary-2: #4eaf4e;
  --primary-3: #181818;
  --secondary-1: #f5f5f5;
  --secondary-2: #fff;
}

body {
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Cabin', sans-serif;
}

h1 {
  color: var(--primary);
}

.p {
  background-color: var(--secondary);
}

ul li {
  color: var(--primary);
}
